@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600&display=swap");

:root {
  --main-color: #229678;
  --red-color: #e74c3c;
  --orangen-color: #f39c12;
  --white-color: #fff;
  --black-color: #2c3e50;
  --ligth-color: #888;
  --ligth-background: #eee;
  --main-border: 1pxsolid rgba(0, 0, 0, 0.2);
  --main-trantision: 0.2s linear;
  --linear: #229678;
}

* {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  direction: rtl !important;
}
a{
  text-decoration: none;
}
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-track {
  background-color: white;
}
::-webkit-scrollbar-thumb {
  background-color:var(--main-color);
  width:5px;
  height:5px;
  border-radius:5px;
}

body {
  background-color: var(--ligth-background) !important;
}

.nav-bar1 {
  height: 60px;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  z-index: 1000;
  text-align: center;
  position: sticky;
  top: 0;
  left: 0;
  /* border-bottom: 2px solid var(--main-color); */
}

.nav-bar1 .profile,
.nav-bar1 .icon {
  height: 100%;
  padding: 10px 15px;
}
.nav-bar1 .icon {
  line-height: 40px;
  font-size: 25px;
  cursor: pointer;
}
.nav-bar1 .icon i {
  cursor: pointer;
  color: var(--main-color);
}
.nav-bar1 .profile {
  display: inline-flex;
  margin-left: 10px;
}
.nav-bar1 .profile .user {
  margin-left: 5px;
}
.nav-bar1 .profile .user p {
  color: var(--main-color);
  margin: 0 !important;
  font-size: 15px;
}

.img > img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}
.hidden {
  display: none;
}

.profile .profile-list {
  height: 100px;
  width: 140px;
  background-color: white;
  white-space: nowrap;
  position: absolute;
  top: 60px;
  left: 35px;
  list-style: none;
  text-align: right;
  padding: 10px;
  font-size: 14px;
  display: none;
}
.profile .profile-list.show {
  display: block;
}
.profile .profile-list a {
  color: black;
}

.profile .profile-list i {
  padding: 10px;
  color: var(--main-color);
}

/*end nav-bar1*/

/* start side-bar */
.section {
  padding-right: 280px;
}
.section.active {
  padding-right: 0px;
}
.side-bar {
  height: 100vh;
  width: 280px;
  background-color: var(--linear);
  position: fixed;
  right: 0px;
  top: 0px;
  z-index: 1000;
  text-align: center;
  color: white;
}
.side-bar.hidden {
  right: -300px;
}

.side-bar .Side-bar-logo{

  width: 100%;
  height: 60px;
  color: white;
  padding:15px  0px;
  font-size: 25px;
  text-align: center;
  border-bottom: 2px solid white;

}

/*end side-bar */

.menu {
  cursor: pointer;
}

.dropdown-menu1 {
  display: none;
}

.link {
  margin: 0 !important;
  text-align: initial;
}
.link li {
  color: white;
  padding: 8px 8px;
  position: relative;
}

.link li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.link i {
  padding-left: 10px;
}

.link li span {
  position: absolute;
  left: 20px;
}
