/*end section*/
.container {
  width: 100%;
  padding: 30px;
}


/*  اكتب تنسيق شغلك هنا ارجو عدم تعديل اي حاجه في الصفحه*/

/* Start departments css */
.departments {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(239px, 1fr));
  gap: 40px;
}
.departments .box {
  -moz-box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
  -webkit-box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
  box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
  background-color: white;
  border-radius: 6px;
  overflow: hidden;
  transition: transform var(--main-transtion), box-shadow var(--main-transtion);
}
.departments .box:hover {
  transform: translateY(-10px);
  box-shadow: 0 2px 15px rgb(0 0 0 / 20%);
}
.departments .box img {
  width: 100%;
  height: 280px;
  max-width: 100%;
  object-fit: cover;
}
.departments .box .content {
  padding: 20px;
}
.departments .box .content h3 {
  margin: 0;
}
.departments .box .content p {
  margin: 10px 0 0;
  line-height: 1.2;
  color: #777;
}
.departments .box .info {
  padding: 20px;
  border-top: 1px solid #e6e6e7;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.departments .box .info a {
  color: #229678;
  font-weight: bold;
}
.departments .box .info i {
  color: #229678;
}
.departments .box:hover .info i {
  animation: moving 0.6s linear infinite;
}

@keyframes moving {
  100% {
    transform: translateX(10px);
  }
}
/* End departments css */

/*department setting*/


.department-navbar {
  list-style: none;
  height: 60px;
  width: 100%;
  background-color: white;
  display: flex;
  flex-wrap: nowrap;
 overflow-x: auto;

}

.department-navbar li {
  padding: 10px;
  white-space:nowrap;
}

.department-navbar a {
  color: #229678;
  font-weight: bold;
  text-decoration: none;


}

/*end department setting**/

/* ////////////////////////////////////////////////////////////////////////////////////////////////// */

body {
  direction: rtl;
  /* background: #dfe7e5 !important; */
  font-family: "tajawal" !important;
}

h3 {
  color: #32c19a;
}
.main-content {
  width: 100% !important;
  padding-left: 150px !important;
  padding-right: 150px !important;

  background: white;
  padding-top: 100px;
}
.thead_dark {
  background: #42c2a1;
  color: white;
}
.btn-download {
  background: #42c2a1 !important;
  border-radius: 50% !important;
  padding-top: 0px;
  padding-bottom: 0px;
  vertical-align: top !important;
  padding: 5px;
  border: none;
  color: white;
}

div.dataTables_wrapper div.dataTables_info {
  padding-top: 0px !important;
  white-space: nowrap;
  color: #64b99c !important;
}

table.dataTable > tbody > tr.child ul.dtr-details {
  display: inline-block;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: left;
}

.table.dataTable.dtr-inline.collapsed
  > tbody
  > tr[role="row"]
  > td:first-child:before,
table.dataTable.dtr-inline.collapsed
  > tbody
  > tr[role="row"]
  > th:first-child:before {
  top: 9px;
  left: 4px;
  height: 14px;
  width: 14px;
  display: block;
  position: absolute;
  color: white;
  border: 2px solid white;
  border-radius: 14px;
  box-shadow: 0 0 3px #444;
  box-sizing: content-box;
  text-align: center;
  text-indent: 0 !important;
  font-family: "Courier New", Courier, monospace;
  line-height: 14px;
  content: "+";
  background-color: #60b6ab;
}

.table.dataTable.dtr-inline.collapsed
  > tbody
  > tr.parent
  > td:first-child:before,
table.dataTable.dtr-inline.collapsed
  > tbody
  > tr.parent
  > th:first-child:before {
  content: "-";
  background-color: #d33333;
}

.page-item.active .page-link {
  z-index: 1;
  color: #fff !important;
  background-color: #42c2a1 !important;
  border-color: #42c2a1 !important;
  border-radius: 8px !important;
}

.page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #42c2a1 !important;
  background-color: #fff;
  border: 1px solid #dee2e6;
}
.dataTables_info,
.dataTables_length {
  float: right;
}
#files_list_paginate,
.dataTables_filter {
  float: left;
}
