@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");

/* Start Global Variable */
:root {
  --main-color: #32c19a;
  --color-orange: #ff7800;
  --color-black: #1a1364;
  --ligth-color: #666;
  --color-white: #fff;
  --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  --main-border: 0.2rem solid rgba(0, 0, 0, 0.1);
  --main-outline: 0.1rem solid rgba(0, 0, 0, 0.1);
  --main-outline-hover: 0.2rem solid var(--main-color);
}
/* End Global Variable */

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
}
body {
  background: #eee;
}
.container {
  width: calc(90% - 70px);
  padding: 30px 40px;
  margin: 0 auto;
}
.boxs-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px;
}
.box {
  background: #fff;
  border-radius: 6px;
  text-align: center;
  padding: 15px 20px;
  outline: var(--main-outline);
  outline-offset: -10px;
  box-shadow: var(--box-shadow);
  transition: 0.4s linear;
}
.box:hover {
  outline: var(--main-outline-hover);
  outline-offset: 0px;
}
.box img {
  width: 110px;
  height: 110px;
  border-radius: 50%;
}
.box p {
  color: var(--ligth-color);
  font-size: 16px;
  padding-top: 3px;
  direction: ltr;
}
.box h3 {
  color: var(--main-color);
  font-size: 20px;
  padding: 4px 0;
}

.box .social {
  margin: 18px 0;
}
.box .social a {
  width: 180px;
  height: 180px;
  background: #eee;
  color: #ff7800;
  border-radius: 6px;
  padding: 10px;
  margin: 2px;
}
.box .social a:hover {
  background: #dfd8d8;
}
.box .social a:first-child {
  color: #1877f2;
}
.box .social a:nth-child(2) {
  color: #0a66c2;
}
.box .social a:nth-child(3) {
  color: #25d366;
}
.box .social a:last-child {
  color: #ea8888;
}
.box .social a i {
  font-size: 20px;
}
