/*end section*/
.container {
  width: 100%;
  padding: 30px;
  display: flex;
  flex-direction: column;
}
.container h3 {
  line-height: 40px;
  color: var(--main-color);
  font-size: 24px;
}
.container ul li {
  display: flex;
  color: var(--black-color);
  line-height: 32px;
}
.container ul li b {
  padding-right: 10px;
  font-weight: 600;
  font-size: 18px;
  width: 300px;
  color: var(--light-blue);
}
.container ul li p {
  font-weight: 400;
  font-size: 16px;
  width: 400px;
}
.container .line {
  width: 50%;
  height: 3px;
  background: var(--main-color);
  display: block;
  border-radius: 50%;
  margin: 20px auto;
}
.container .contact_info p {
  width: 400px;
}
/*************************/
