h3.titleTabel {
  color: #32c19a;
  text-align: center;
}

.main-content {
  width: 100% !important;
  padding-top: 100px;
}

.thead_dark {
  background: #42c2a1;
  color: white;
}

.btn-download {
  background: #42c2a1 !important;
  border-radius: 50% !important;
  padding-top: 0px;
  padding-bottom: 0px;
  vertical-align: top !important;
  padding: 5px;
  border: none;
  color: white;
}

div.dataTables_wrapper div.dataTables_info {
  padding-top: 0px !important;
  white-space: nowrap;
  color: #64b99c !important;
}

table.dataTable > tbody > tr.child ul.dtr-details {
  display: inline-block;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: right;
}

/* .table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>td:first-child:before,
table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>th:first-child:before {
    top: 9px;
    left: 4px;
    height: 14px;
    width: 14px;
    display: block;
    position: absolute;
    color: white;
    border: 2px solid white;
    border-radius: 14px;
    box-shadow: 0 0 3px #444;
    box-sizing: content-box;
    text-align: center;
    text-indent: 0 !important;
    font-family: "Courier New", Courier, monospace;
    line-height: 14px;
    content: "+";
    background-color: #60b6ab;
}

.table.dataTable.dtr-inline.collapsed>tbody>tr.parent>td:first-child:before,
table.dataTable.dtr-inline.collapsed>tbody>tr.parent>th:first-child:before {
    content: "-";
    background-color: #d33333;
} */

.page-item.active .page-link {
  z-index: 1;
  color: #fff !important;
  background-color: #42c2a1 !important;
  border-color: #42c2a1 !important;
  border-radius: 8px !important;
}

.page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #42c2a1 !important;
  background-color: #fff;
  border: 1px solid #dee2e6;
}

.dataTables_info,
.dataTables_length {
  float: right;
}

#files_list_paginate,
.dataTables_filter {
  float: left;
}

table.dataTable thead > tr > th.sorting_asc,
table.dataTable thead > tr > th.sorting_desc,
table.dataTable thead > tr > th.sorting,
table.dataTable thead > tr > td.sorting_asc,
table.dataTable thead > tr > td.sorting_desc,
table.dataTable thead > tr > td.sorting {
  padding-right: 0px !important;
  text-align: center !important;
}
table.dataTable td,
table.dataTable th {
  text-align: center;
  white-space: nowrap;
}
