@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600&display=swap');
:root{
    --main-color:#3c00a0;
    --red-color:#e74c3c;
    --orangen-color:#f39c12;
    --white-color:#fff;
    --black-color:#2c3e50;
    --ligth-color:#888;
    --ligth-background:#eee;
    --main-border:2px solid #0F1630;
    --main-trantision:0.2s linear;
}
*{
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}
body{
    background-color: var(--ligth-background);
}
/*start section*/
.section{
    width:100%;
    height:100vh;
    display:flex;
    flex-direction:row;
  }


  /*end section*/
.container{
    width:auto;
    margin: 0 auto;
    margin-top: 100px;
}
.container .athers,
.container .oneuser{
    margin: 40px 20px;
}
.container .title{
    font-size: 21px;
    color: #2c3e50;
    font-weight: 600;
    padding: 10px 0px;
    position: relative;
    width: fit-content;
}
.container .title::before{
    content: "";
    position: absolute;
    width:100%;
    height: 2px;
    background-color: #3c00a0;
    bottom: -2px;
    left: 50%;
    transform: translateX(-50%);
}

.container .athers .input-filed .password{
    padding: 15px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.container .input-filed label{
    font-size: 17px;
    font-weight: 500;
    color: #2c3e50;
}
.container .input-filed input,
    .container .input-filed select{
    outline: none;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    border-radius: 7px;
    border: 1px solid #2c3e50;
    padding: 0 15px;
    height: 42px;
    margin: 8px 0;
    background-color: #fff;
}
.container .input-filed input:focus:not([input=type="radio"]){
    box-shadow: 0 3px 6px rgba(0,0,0,0.13);
}
.container .athers .input-filed input,
.container .allinput .input-filed.spcail input{
    padding: 10px;
}
.container .break{
    width: 100%;
    height: 2px;
    background-color: #3c00a0;
    margin: 20px 0;
}
.container .oneuser .allinput{
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(300px,1fr));
    gap: 30px;
    padding: 40px 0;
}
.container .oneuser .allinput .input-filed{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.container .oneuser .input-filed .gender{
    display: flex;
    align-items: center;
    gap: 50px;
}
.container .oneuser .input-filed .gender .male,
.container .oneuser .input-filed .gender .female{
    display: flex;
    column-gap:8px;
    align-items: center;
    justify-content: center;
}
.container .oneuser .input-filed .gender .male input,
.container .oneuser .input-filed .gender .female input{
    accent-color: #3c00a0;
    width: fit-content;
}
.container .oneuser .input-filed .gender .male input:checked label,
.container .oneuser .input-filed .gender .female input:checked label{
    color: #3c00a0;
}

.container .save{
    margin: 40px 20px;
} 
.container .save input{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    max-width: 200px;
    width: 100%;
    color: #fff;
    border-radius: 7px;
    font-size: 20px;
    margin: 0;
    background-color: #3c00a0;
    transition: all 0.3s linear;
    cursor: pointer;
} 