@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600&display=swap');
:root{
    --main-color:#3c00a0;
    --red-color:#e74c3c;
    --orangen-color:#f39c12;
    --white-color:#fff;
    --black-color:#2c3e50;
    --ligth-color:#888;
    --ligth-background:#eee;
    --main-border:1pxsolid rgba(0,0,0,0.2);
    --main-trantision:0.2s linear;
}
*{
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}
body{
    background-color: var(--ligth-background);
}

/* Start nav-bar*/
.nav-bar{
height: 60px;
width: 82%;
background-color: white;
display: flex;
justify-content: space-between;
position: fixed;
left:0px;
top:0px;
z-index: 1000;
text-align: center;
}

.nav-bar .profile,
.nav-bar .icon{
width: 10%;
height: 100%;
padding:10px;
}
.nav-bar .icon{
    line-height: 40px;
    font-size: 25px;
    cursor: pointer;
}
.nav-bar .icon i{
    cursor: pointer;
}
.nav-bar .profile{
    display:inline-flex;
    padding:15px;
    margin-left: 15px;
 
}

.hidden{
    display: none;
}
/*end nav-bar*/


/* start side-bar */
.side-bar{
    height:100vh;
    width:18%;
    background-color:#0F1630;
    position: fixed;
    right:0px;
    top:0px;
    z-index: 1000;
    text-align: center;  
    color:white;

}
.side-bar h2{
padding:20px;
}
/*end side-bar */



